<div class="headerSection">
    <h1>Logo</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="searchSection">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1" ng-model="searchSkill" ng-change="getSearchData(searchSkill)">
                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-20">
        <div class="col-md-12">
            <div class="addSection">
                <div class="row">
                    <div class="col-md-10 addlabel">Name</div>
                    <div class="col-md-2 text-right"> <button type="button" class="btn btn-success" ng-click="showAdd = true">Add</button></div>
                </div>
                <div class="addInput" ng-show="showAdd">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Add Skill" aria-describedby="basic-addon1" ng-model="addSkills.skill_name">
                        <span class="bg-success" ng-click="addSkill()">Submit</span>
                    </div>
                    <div style="line-height: 3.4rem;" ng-click="changeStatus('approved');addSkills.status = true">
                        <!-- <button type="button" name="button" ng-click="addSkills.status = true"> -->
                        <span class="glyphicon glyphicon-ok" ng-model="approvalForSkill" ng-class="{'text-green': addSkills.status}"></span>
                        <span ng-class="{'text-green': addSkills.status}">Approve</span>
                        <!-- </button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-20">
        <div class="col-md-12">
            <div class="tableSection">
                <table class="table">
                    <tr ng-repeat="list in skillList">
                        <!-- <td>{{list.name}}</td> -->
                        <td>
                            <div ng-show="openEdit">
                                <div class="addSection">
                                    <div class="addInput">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Add Skill" aria-describedby="basic-addon1" ng-model="list.name">
                                            <span class="bg-success" id="basic-addon1" ng-click="changeStatus(list)">Submit</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div >
                                <span>{{list.skill_name}} </span>
                                <span class="glyphicon glyphicon-pencil"  ng-click="openEdit = true"></span>
                            </div>
                        </td>
                        <td class="text-right col-md-3" ng-class="{'text-green': list.status == true}" ng-click="changeStatus(list); list.status = true">
                            <span class="glyphicon glyphicon-ok"></span> Approve
                        </td>
                        <td class="text-right col-md-3" ng-class="{'text-danger': list.status == false}" ng-click="changeStatus(list);list.status = false">
                            <span class="glyphicon glyphicon-remove"></span> Reject
                        </td>
                        <td class="text-right col-md-3" ng-class="{'text-danger': list.status == false}" ng-click="deleteSkills(list, $index)">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
